*{
    margin: 0;
}
/* Titel */
h1{ 
    color: black;
    font-family: Helvetica;
    text-align: center;
}
/* Inleiding + Uitvoering */
p{
    color: black;
    font-family: Helvetica;
    text-align: center;

    margin-left: 500px;
    margin-right: 500px;
}
/* Ingredienten */
#ingrediënten{
    color: black;
    font-family: Helvetica;

    margin-left: 750px;
    margin-top: 50px;
    margin-right: 780px;

    background: rgba(238, 209, 114, 0.3);
}